---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; 
  line-height: 35px;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 8px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

.columns:after {
  content: "";
  display: table;
  clear: both;
}

.spacing {
  padding: 15px 0;
}

.column {
  box-sizing: border-box;
  float: left;
}

.column.third {
  width: 34%;
  padding: 0 0px;
  text-align: left;
}

.column.half {
  width: 50%;
  padding-left: 50px;
  padding-right: 0px;
}

.div1 {
    width: 378px;
    height: 214px;
    border: 1px solid #D6D0D0;
    padding-left: 20px;
}

.div1:hover {
    background-color: white;
}

.div1 button:hover {
    background-color: #111;
}

.div2 {
    width: 378px;
    height: 248px;
    border: 1px solid #D6D0D0;
    padding-left: 20px;
}

.div2:hover {
    background-color: white;
}

.div2 button:hover {
    background-color: #111;
}

.div4 {
    width: 100%;
    height: 545px;
   /* border: 1px solid red; */
    padding-left: 20px;
    padding-top: 35px;
    background-color: #F7F5F5;
}

.div5 {
    width: 100%;
    height: 535px;
   /* border: 1px solid red; */
    padding-left: 20px;
    padding-top: 35px;
    background-color: white;
}

/*
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding-right: 18px;
    font-size: 16px;
    border: none;
    cursor: pointer;
} */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    font: 400 15px/1.5 "Eurostile", Helvetica, Arial, sans-serif;
    font-kerning: normal;
    letter-spacing: 0.5px;
    color: #fdfdfd;
    padding-right: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
   /* font-size: 17px; */
    font: 400 12px "Eurostile", Helvetica, Arial, sans-serif;
    font-kerning: normal;
    background-color: white; /*#f9f9f9 #C70039 */ 
    min-width: 192px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
   /* color: black; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #E8E1E1} /*#f1f1f1 #98032D */  

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown 
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */

.banner {
    width: 100%;
    display: block;
}

.btn-group button {
    background-color: #111; /* Green background */
    min-width: 50%;
    border: 1px solid white; /* Green border */
    color: white; /* White text */
    font: 400 15px "Eurostile", Helvetica, Arial, sans-serif;
    font-kerning: normal;
    letter-spacing: 0.5px;
    padding: 18px ; 
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #111;
}

.btn-group .button {
    color: #fdfdfd; }

.button {
    background-color: #C70039;
    border: none;
    color: white;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font: 400 15px "Eurostile", Helvetica, Arial, sans-serif;
    font-kerning: normal;
    letter-spacing: 0.5px;
}

/*
.button:hover {
    background-color: #111;
}
*/

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  /*font-weight: 400; */
  font: 400 28px; 
  color: #C70039; 
}

/**
 * Links
 */
a {
  color: #111;
  text-decoration: none; }
  a:visited {
    color: #111; } /*#1756a9 #2a7ae2 */
  a:hover {
    color: #111;
    text-decoration: underline; }
  .social-media-list a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username {
      text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
    /*
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
    */
  
  max-width: 100%;
  margin-right: 150px;
  margin-left: 150px;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width:800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

.social-media-list .icon {
  padding-right: 5px; }
.social-media-list li + li {
  padding-top: 5px; }

/**
 * Site header
 */
.site-header {
  background: #1D1D1D;
  border-top: 18px solid #C70039;
  border-bottom: 0px solid #e8e8e8;
  min-height: 85px; /*55.95px;*/
  position: relative; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 70px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #fdfdfd; }

.site-nav {
  float: right;
  font-weight: 400; 
  font-size: 15px;
  font-family: "Eurostile", Helvetica, Arial, sans-serif;
  font-kerning: normal;
  letter-spacing: 0.5px;
  line-height: 84px; }
  .site-nav .nav-trigger {
    display: none; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #fdfdfd;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg path {
          fill: #424242; }
      .site-nav input ~ .trigger {
        clear: both;
        display: none; }
      .site-nav input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Site footer
 */
.site-footer {
  background: #1D1D1D;
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  font-size: 0px;
  margin-bottom: 0px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
    width: 33%
    /*
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2));  */
}

.footer-col-2 {
    width: 40%
    /*
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); */
}

.footer-col-3 {
    width: 20%
    /*
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); */
}

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 36px; }  //"post"

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 16px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 39px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
