<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

      
    <div class="div5">
        
    
        <div class="wrapper">  
          <div class="container">
              
           
               
           <div class="columns spacing">
             
             
             
              <div class="column third">
                <img src="/images/pic3.jpg" width="300" height="300">
            </div>
               
            <div class="column half">
               <h2>Founder</h2>
                <p style="color:#4F4E4E" class="post-hero center-text"><i>Valentine Ezenwa is Master's student in Engineering Management at Johns Hopkins University. He has a BSc. in Electrical and Computer Engineering from University of Rochester. He started Infusion Support as part of a Product Design course, during which he gained first-hand exposure to the Home Infusion Industry through Johns Hopkins Hospital. He set out to develop a mobile application that he believed would solve some of the problems in the industry.</i></p>
            </div>
       
            
            </div>
           
            </div>
              
          </div>
        
      </div> 
    
    
    <!--
      
    <main class="page-content" aria-label="Content">
          
      <div class="wrapper">
        <div class="columns spacing">
            <article class="post">
                <div class="post-content">
                    {{ content }}
                </div>
            </article>
        </div>
      </div>
    </main>
    -->

    {% include footer.html %}

  </body>

</html>
