<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}
<!--
     <div class="banner">
        <img class="banner-image" src="/images/hic.jpg">
     </div>  
-->
      
    <div class="div4">
        
    
        <div class="wrapper">  
          <div class="container">
              
              

               
           <div class="columns spacing">
               
            <div class="column half">
                <img src="/images/nurseapp1.jpg" width="400" height="220">
                <div class="div1">
                <div class="spacing">
                <h2>Patients</h2>
                <p style="color:#4F4E4E" class="post-hero center-text"><i>Take control of your infusion care in the comfort of your home</i></p>
                <form action= "{{ site.baseurl }}/services/patients/">
                    <button class="button" type="submit">Learn more
                    </button>
                </form>
                </div>
                </div>
            </div>
               
            <div class="column half">
                <img src="/images/nurse1.jpg" width="400" height="220">
                <div class="div1">
                <div class="spacing">
                <h2>Nurses</h2>
                <p style="color:#4F4E4E" class="post-hero center-text"><i>Be accessible to your patients right when they need you most</i></p>
                <form action= "{{ site.baseurl }}/services/nurses/">  
                    <button class="button" type="submit">Learn more
                    </button>
                </form>
                </div>
            </div>
            </div>
            </div>
           
            
     
           
            </div>
              
          </div>
        
      </div> 
    
     <div class="div5">
    
        <div class="wrapper">  
          <div class="container">
                    
           <div class="columns spacing">
             
              <div class="column third">
                <img src="/images/app1.png" width="300" height="460">
            </div>
               
            <div class="column half">
               <h2>Infusion Connect Mobile App</h2>
                <p style="color:#4F4E4E" class="post-hero center-text"><i>A mobile application platform for effective infusion pump training or troubleshooting and optimal communication between home infusion patients and nurses.</i></p>
               <p style="color:#4F4E4E" class="post-hero center-text"><i>Infusion Connect reduces call center costs to home infusion providers by 60%, in addition to eliminating over-reliance on nurses by making patients more self sufficient.</i></p>
             </div>
            
            </div>
           
            </div>
              
          </div>
        
      </div> 
     
    <!--
    <main class="page-content" aria-label="Content">
          
      <div class="wrapper">
        <div class="columns spacing">
            <article class="post">
                <div class="post-content">
                    {{ content }}
                </div>
            </article>
        </div>
      </div>
    </main>
    -->

    {% include footer.html %}

  </body>

</html>
