<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

      
    <div class="div5">
        
    
        <div class="wrapper">  
          <div class="container">
              
           
               
           <div class="columns spacing">
             
             
             
              <div class="column third">
                <img src="/images/napp1.png" width="300" height="480">
            </div>
               
            <div class="column half">
               <h2>Be Accessible and Learn from Peers</h2>
                <p style="color:#4F4E4E" class="post-hero center-text"><i>Be accessible to your patients by indicating when you are online and available to text, answer a call or chat via live video. Stay informed through Infusion Connect's nurse forum and troubleshooting support.</i></p>
            </div>
       
            
            </div>
           
            </div>
              
          </div>
        
      </div> 
    
    
    
 <!--     
    <main class="page-content" aria-label="Content">
          
      <div class="wrapper">
        <div class="columns spacing">
            <article class="post">
                <div class="post-content">
                    {{ content }}
                </div>
            </article>
        </div>
      </div>
    </main>
   -->

    {% include footer.html %}

  </body>

</html>
